# Log file
*.log

# Carpetas - Entorno

.idea
.bin
.lock
.probe
.pb
function gitzip() { 
	git archive -o $@.zip HEAD
}

*/.gradle/
*/target/
*/build/
.tmp
entregable1/filial1/EliteProfesionalChileMasivos/target/
entregable1/filial2/EliteProfesionalChileSpartacus/target/
entregable1/filial3/EliteProfesionalArgentinaSpartacus/target/
entregable1/filial4/EliteProfesionalColombiaSpartacus/target/
entregable1/filial5/EliteProfesionalEcuadorSpartacus/target/
entregable1/filial6/EliteProfesionalMexicoSpartacus/target/
entregable1/filial7/EliteProfesionalPeruSpartacus/target/
entregable1/filial8/EliteProfesionalPeruMasivoSpartacus/target/
entregable1/filial9/EliteProfesionalUruguaySpartacus/target/
entregable1/filial10/EliteProfesionalBrasilSpartacus/target/

entregable1/filial1/EliteProfesionalChileMasivos/build/
entregable1/filial2/EliteProfesionalChileSpartacus/build/
entregable1/filial3/EliteProfesionalArgentinaSpartacus/build/
entregable1/filial4/EliteProfesionalColombiaSpartacus/build/
entregable1/filial5/EliteProfesionalEcuadorSpartacus/build/
entregable1/filial6/EliteProfesionalMexicoSpartacus/build/
entregable1/filial7/EliteProfesionalPeruSpartacus/build/
entregable1/filial8/EliteProfesionalPeruMasivoSpartacus/build/
entregable1/filial9/EliteProfesionalUruguaySpartacus/build/
entregable1/filial10/EliteProfesionalBrasilSpartacus/build/

entregable1/filial1/EliteProfesionalChileMasivos/.gradle/
entregable1/filial2/EliteProfesionalChileSpartacus/.gradle/
entregable1/filial3/EliteProfesionalArgentinaSpartacus/.gradle/
entregable1/filial4/EliteProfesionalColombiaSpartacus/.gradle/
entregable1/filial5/EliteProfesionalEcuadorSpartacus/.gradle/
entregable1/filial6/EliteProfesionalMexicoSpartacus/.gradle/
entregable1/filial7/EliteProfesionalPeruSpartacus/.gradle/
entregable1/filial8/EliteProfesionalPeruMasivoSpartacus/.gradle/
entregable1/filial9/EliteProfesionalUruguaySpartacus/.gradle/
entregable1/filial10/EliteProfesionalBrasilSpartacus/.gradle/

entregable2/filial1/EliteProfesionalChileMasivos/target/
entregable2/filial2/EliteProfesionalChileSpartacus/target/
entregable2/filial3/EliteProfesionalArgentinaSpartacus/target/
entregable2/filial4/EliteProfesionalColombiaSpartacus/target/
entregable2/filial5/EliteProfesionalEcuadorSpartacus/target/
entregable2/filial6/EliteProfesionalMexicoSpartacus/target/
entregable2/filial7/EliteProfesionalPeruSpartacus/target/
entregable2/filial8/EliteProfesionalPeruMasivoSpartacus/target/
entregable2/filial9/EliteProfesionalUruguaySpartacus/target/
entregable2/filial10/EliteProfesionalBrasilSpartacus/target/

entregable2/filial1/EliteProfesionalChileMasivos/build/
entregable2/filial2/EliteProfesionalChileSpartacus/build/
entregable2/filial3/EliteProfesionalArgentinaSpartacus/build/
entregable2/filial4/EliteProfesionalColombiaSpartacus/build/
entregable2/filial5/EliteProfesionalEcuadorSpartacus/build/
entregable2/filial6/EliteProfesionalMexicoSpartacus/build/
entregable2/filial7/EliteProfesionalPeruSpartacus/build/
entregable2/filial8/EliteProfesionalPeruMasivoSpartacus/build/
entregable2/filial9/EliteProfesionalUruguaySpartacus/build/
entregable2/filial10/EliteProfesionalBrasilSpartacus/build/

entregable2/filial1/EliteProfesionalChileMasivos/.gradle/
entregable2/filial2/EliteProfesionalChileSpartacus/.gradle/
entregable2/filial3/EliteProfesionalArgentinaSpartacus/.gradle/
entregable2/filial4/EliteProfesionalColombiaSpartacus/.gradle/
entregable2/filial5/EliteProfesionalEcuadorSpartacus/.gradle/
entregable2/filial6/EliteProfesionalMexicoSpartacus/.gradle/
entregable2/filial7/EliteProfesionalPeruSpartacus/.gradle/
entregable2/filial8/EliteProfesionalPeruMasivoSpartacus/.gradle/
entregable2/filial9/EliteProfesionalUruguaySpartacus/.gradle/
entregable2/filial10/EliteProfesionalBrasilSpartacus/.gradle/

entregable3/filial1/EliteProfesionalChileMasivos/target/
entregable3/filial2/EliteProfesionalChileSpartacus/target/
entregable3/filial3/EliteProfesionalArgentinaSpartacus/target/
entregable3/filial4/EliteProfesionalColombiaSpartacus/target/
entregable3/filial5/EliteProfesionalEcuadorSpartacus/target/
entregable3/filial6/EliteProfesionalMexicoSpartacus/target/
entregable3/filial7/EliteProfesionalPeruSpartacus/target/
entregable3/filial8/EliteProfesionalPeruMasivoSpartacus/target/
entregable3/filial9/EliteProfesionalUruguaySpartacus/target/
entregable3/filial10/EliteProfesionalBrasilSpartacus/target/

entregable3/filial1/EliteProfesionalChileMasivos/build/
entregable3/filial2/EliteProfesionalChileSpartacus/build/
entregable3/filial3/EliteProfesionalArgentinaSpartacus/build/
entregable3/filial4/EliteProfesionalColombiaSpartacus/build/
entregable3/filial5/EliteProfesionalEcuadorSpartacus/build/
entregable3/filial6/EliteProfesionalMexicoSpartacus/build/
entregable3/filial7/EliteProfesionalPeruSpartacus/build/
entregable3/filial8/EliteProfesionalPeruMasivoSpartacus/build/
entregable3/filial9/EliteProfesionalUruguaySpartacus/build/
entregable3/filial10/EliteProfesionalBrasilSpartacus/build/

entregable3/filial1/EliteProfesionalChileMasivos/.gradle/
entregable3/filial2/EliteProfesionalChileSpartacus/.gradle/
entregable3/filial3/EliteProfesionalArgentinaSpartacus/.gradle/
entregable3/filial4/EliteProfesionalColombiaSpartacus/.gradle/
entregable3/filial5/EliteProfesionalEcuadorSpartacus/.gradle/
entregable3/filial6/EliteProfesionalMexicoSpartacus/.gradle/
entregable3/filial7/EliteProfesionalPeruSpartacus/.gradle/
entregable3/filial8/EliteProfesionalPeruMasivoSpartacus/.gradle/
entregable3/filial9/EliteProfesionalUruguaySpartacus/.gradle/
entregable3/filial10/EliteProfesionalBrasilSpartacus/.gradle/
